#####################################################################################
#                              Database config                                      #
#####################################################################################

# Protocol of the DB to use (mysql for example)
DB_PROTOCOL=mysql

# Name of the MySQL user that connects to the DB
DB_USER=user

# Password of the MySQL user that connects to the DB
DB_PASSWORD=supersecretpassword

# Host name of the MySQL server (localhost by default)
DB_HOST=localhost

# Port of the MySQL database (default : 3306)
DB_PORT=3306

# Name of the database to connect to
DB_DATABASE=mydb

# Connection URL for Sequelize
DB_CONNECTION=$DB_PROTOCOL://$DB_USER:$DB_PASSWORD@$DB_HOST:$DB_PORT/$DB_DATABASE

#####################################################################################
#                               Web app config                                      #
#####################################################################################
PORT=100XX
NODE_ENV=development|production